:root {
  --background: #fffffe;
  --card-background: #f2f4f6;
  --card-background-tag: #fffffe;
  --headline: #00214d;
  --card-headline: #00214d;
  --card-tag-text: #00214d;
  --paragrapy: #1b2d45;
  --card-paragrapy: #1b2d45;
  --card-hightlight: #ff5470;
}

.technicianpage {
  margin: 0;
  padding: 0;
  font-family: var(--ff-3);
  color: var(--paragrapy);
}

/* sidebar */
.sidebar {
  background-color: var(--card-paragrapy);
  width: 260px;
  position: fixed;
  left: 0;
  height: 100%;
  padding: 20px 10px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}

.sidebar.close + .section {
  left: 80px;
  /* Adjust for the closed sidebar */
  width: calc(100% - 80px);
  /* Adjust for the closed sidebar */
}

.sidebar.close {
  padding: 60px 0;
  width: 80px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.menu_content {
  position: relative;
  color: white;
}

.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}

.sidebar.close .menu_title {
  padding: 6px 30px;
}

.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}

.menu_dahsboard::before {
  content: "Search Technicians";
}

.menu_editor::before {
  content: "Profiles";
}

.menu_setting::before {
  content: "Other";
}

.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}

.menu_items {
  padding: 0;
  list-style: none;
}

.navlink_icon {
  position: relative;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  color: white;
}

.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}

.navlink_icon:hover {
  color: var(--headlines);
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}

.sidebar.close .navlink {
  display: none;
}

.nav_link:hover {
  color: var(--headline);
  background: var(--card-background);
}

.sidebar.close .nav_link:hover {
  background: var(--white-color);
}

.submenu_item {
  cursor: pointer;
}

.submenu {
  display: none;
}

.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}

.sidebar.close .submenu {
  display: none;
}

.show_submenu ~ .submenu {
  display: block;
}

.show_submenu .arrow-left {
  transform: rotate(90deg);
}

.submenu .sublink {
  padding: 15px 15px 15px 52px;
}

.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}

.bottom i {
  font-size: 20px;
}

.bottom span {
  font-size: 18px;
}

.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}

.sidebar.close .bottom span {
  display: none;
}

.sidebar.hoverable .collapse_sidebar {
  display: none;
}

#sidebarOpen {
  display: none;
}

@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }

  .sidebar.close {
    left: -100%;
  }

  .search_bar {
    display: none;
  }

  .sidebar.close .bottom_content {
    left: -100%;
  }
}
/*search filter*/

.section {
  position: absolute;
  left: 260px;
  top: 0;
  width: calc(100% - 260px);
  height: 100%;
  padding: 20px;
  transition: all 0.5s ease;
}

.search-section {
  background-color: #f0f0f0;
}

.search-section h2 {
  color: #333;
}

.search-section p {
  color: #666;
  margin-bottom: 20px;
}
.search-section .search-parts{
  display: flex;
  justify-content: space-between;

}
.search-section .search-filter{
  background: #fff;
  padding: 0;
  border-radius: 5px;
}
.search-section .search-filter .options{
  padding: 10px 10px;
  width: 200px;
  cursor: pointer;
}
.search-section .search-filter .options:hover ul{
  padding: 10px 10px;
  display: block;
  position: absolute;
}
.search-section .search-filter .options ul{
  display: none;
  background: #fff;
}
.search-section .search-filter .options ul li{
  padding: 5px 10px;
}
.search-section .search-filter .options ul li:hover{
  background: #D4DBE2;
  border-radius: 5px;
}

.search-section .search-container {
  max-width: 800px;
  background: #fff;
  padding: 0;
  border-radius: 5px;
}
.search-section .search-container:hover {
  border: 2px solid var(--headline);
  box-shadow: 0 0 5px 0 rgba(106, 98, 210);
}

.search-section form {
  display: flex;
  flex-direction: column;
}
.search-section .search-inputs {
  display: flex;
  width: 100%;
}
.search-section input,
.search-section select,
.search-section button {
  flex-grow: 1;
  margin: 5px;
  padding: 5px;
  font-size: 16px;
  border: none;
}
.search-section input:focus,
.search-section select:focus,
.search-section button:focus {
  border: none;
  outline: none;
}
.search-section input {
  flex-grow: 2;
}

.search-section button {
  background-color: var(--headline);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.search-section button:hover {
  background-color: #001a3a;
}
/***********tags*****************/
.tags-container {
  padding: 20px 10px;
}
.tags-container .tag {
  background: transparent;
  padding: 1px 10px;
  color: var(--headline);
  border: 1px solid var(--headline);
  border-radius: 10px;
}
.tags-container .tag:hover {
  color: var(--card-highlight);
  background: transparent;
  box-shadow: 0 10px 6px -6px #777;
}
